/* Glassmorphism card effect */
.card {
  padding: 2em;
  backdrop-filter: blur(18px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(100%);
  background-color: #3f476c44;
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
