.generalContainer {
  overflow: hidden;
  position: relative;
  padding: 1em;
}

h1.imageName {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  font-size: 1.2rem;
}
.imageOuterContainer {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24rem;
}
.imageInnerContainer {
  border-radius: 10px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
.image {
  border-radius: 10%;

  object-fit: cover;
  height: 20rem;
  width: 87%;
}

.css-1ayhy1f {
  overflow-x: hidden;
}

.sectionImage {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: absolute;
  background-color: #1a202ccc;

  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  z-index: 50;

  padding: 1rem;
  width: 80%;
  min-width: 14rem;
}

.imageName {
  font-weight: 800;
  border-radius: 10px;
  background-color: transparent;
}

.imageTitle {
  width: 100%;
  text-align: center;
}

.buttonScrollContainer {
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: -13rem;
}

.imagePrevious {
  width: 1.75rem;
}

.imageNext {
  transform: rotate(180deg);
  width: 1.75rem;
}

.setActiveIndexOuterDiv {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  place-self: center;
}

.setActiveIndexInnerDiv {
  width: 50%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.spanActive {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  background-color: rgb(98, 110, 121);
  border-radius: 50%;
}

.inner {
  white-space: nowrap;
  transition: transform 0.8s;
}

.activeImg {
  transform: scale(1.3);
  border: 1px solid rgba(0, 0, 0, 0.452);
  background-color: #626365;
}

@media (min-width: 1280px) {
  .image {
    height: 425px;
  }
  .imageName {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .buttonScrollContainer {
    top: -16rem;
  }
}

@media (min-width: 768px) {
  .sectionImage {
    padding: 1.25rem;
    width: 40%;
  }
  .buttonScrollContainer {
    top: -15rem;
  }
  .imagePrevious {
    width: 2.5rem;
  }
  .imageNext {
    width: 2.5rem;
  }
}
