svg {
  margin: 6px;
}

.logo {
  width: 40px;
}
#textoCabecera {
  margin-top: 10vh;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 4px;
}

#subtextoCabecera {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 4px;
}
.fullContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.grid {
  margin: 100px;
  display: grid;
  /* position: absolute; */

  top: 20vh;
  gap: 20px;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "- -- image4"
    "- image2 image5"
    "image1 image3 image6";
}

.image1 {
  height: 100%;
  width: 100%;
  grid-area: image1;
  border-radius: 10px;
}

.image2 {
  height: 100%;
  width: 100%;
  grid-area: image2;
  border-radius: 10px;
}

.image3 {
  height: 100%;
  width: 100%;
  grid-area: image3;
  border-radius: 10px;
}

.image4 {
  height: 100%;
  width: 100%;
  grid-area: image4;
  border-radius: 10px;
}

.image5 {
  height: 100%;
  width: 100%;
  grid-area: image5;
  border-radius: 10px;
}

.image6 {
  height: 100%;
  width: 100%;
  grid-area: image6;
  border-radius: 10px;
}

@media (min-width: 300px) {
  .fullContainer {
    align-items: center;
    justify-content: space-around;
    height: 93vh;
  }
  .grid {
    right: 0;
    top: 40vh;
    margin: 0;
    height: 250px;
    width: 250px;
  }
  #textoCabecera {
    margin: 0;
    font-size: 19px;
  }
}
@media (min-width: 768px) {
  .grid {
    right: 0;
    top: 20vh;
    padding: 0px;
    height: 500px;
    width: 500px;
  }
  #textoCabecera {
    font-size: 40px;
  }
  #subtextoCabecera {
    font-size: 55px;
  }
}

@media (min-width: 1280px) {
  .fullContainer {
    flex-direction: row;
  }
  .grid {
    margin: 0;
    right: 200px;

    height: 650px;
    width: 650px;
  }
  #textoCabecera {
    font-size: 30px;
  }
}
@media (min-width: 1440px) {
  .fullContainer {
    flex-direction: row;
  }
  .grid {
    right: 200px;
    margin: 175px;
    height: 650px;
    width: 650px;
  }
  #textoCabecera {
    font-size: 30px;
  }
}
