svg {
  margin: 6px;
}

.logo {
  width: 40px;
}
#textoCabecera {
  margin-top: 10vh;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 4px;
}

#subtextoCabecera {
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 4px;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  height: 93vh;
  width: 100vw;
  align-items: center;
}
.grid {
  margin: 100px;
  display: grid;
  position: absolute;

  top: 20vh;
  gap: 20px;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas:
    "- -- image4"
    "- image2 image5"
    "image1 image3 image6";
}

.image1 {
  height: 100%;
  width: 100%;
  grid-area: image1;
  border-radius: 10px;
}

.image2 {
  height: 100%;
  width: 100%;
  grid-area: image2;
  border-radius: 10px;
}

.image3 {
  height: 100%;
  width: 100%;
  grid-area: image3;
  border-radius: 10px;
}

.image4 {
  height: 100%;
  width: 100%;
  grid-area: image4;
  border-radius: 10px;
}

.image5 {
  height: 100%;
  width: 100%;
  grid-area: image5;
  border-radius: 10px;
}

.image6 {
  height: 100%;
  width: 100%;
  grid-area: image6;
  border-radius: 10px;
}

@media (min-width: 300px) {
  .grid {
    right: 0;
    top: 40vh;
    margin: 50px;
    height: 250px;
    width: 250px;
  }
}
@media (min-width: 768px) {
  .grid {
    right: 0;
    top: 20vh;
    margin: 100px;
    height: 500px;
    width: 500px;
  }
  .textoCabecera {
    font-size: medium;
  }
}
@media (min-width: 1280px) {
  .grid {
    right: 200px;
    margin: 175px;
    height: 650px;
    width: 650px;
  }
}
